*{
    margin:0;
    padding:0;

}

body{
    background-color: hsl(30, 54%, 90%);
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}


.container{
   
    background-color: white;
    width: 650px;
    margin: 0 auto;
    border-radius: 20px;
    position: relative;
    top: 5em;
    padding-top:5px;
    
}
   

.first,.second,.third,.fourth,.fifth,.sixth{
    width: 85%;
    margin: 0 auto;
    margin-top:20px;

}

.first img {
    width: 100%; 
    border-radius: 15px;
}


.second h1{
    font-family: "Young Serif", serif;
    font-weight: lighter;
    font-size: 2.5em;
    color: hsl(24, 5%, 18%);
}


.second p,.sixth p{
 
  font-family: "Outfit", sans-serif;
  font-style: normal;
  font-size: 0.9rem;
  color: hsl(30, 10%, 34%);
    padding-top: 10px;;
}

.third{
    background-color: hsl(330, 100%, 98%);
    border-radius: 15px;
}

.third h2{
    padding-left: 10px;
    padding-top: 20px;;
    color: hsl(332, 51%, 32%);
    font-family: "Outfit", sans-serif;
    font-size: 1rem;;
}


.third ul{
    padding:20px;
    padding-left: 40px;
}


.third li,.fourth li{
    padding: 5px;
    color: hsl(30, 10%, 34%);
    font-family: "Outfit", sans-serif;
    font-size: 0.9rem;
}


.fourth h2, .fifth h2, .sixth h2{
        color:  hsl(14, 45%, 36%);
        font-family: "Young Serif", serif;
        font-weight: lighter;
        font-size: 1.5rem;
    }
    
.fourth ul,.fifth ol{
    padding: 10px;;
}

.fifth li{
    padding: 5px;
    color: hsl(30, 10%, 34%);
    font-family: "Outfit", sans-serif;
    font-size: 0.9rem;
}

hr {
    width: 90%;
    margin: 0 auto;
    border: none; 
    height: 0.5px;
    background-color:  hsl(30, 18%, 87%);
    
}

.grid{
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;;
  margin-bottom: 10px;;
}

.grid-item{
    padding: 10px;
    color: hsl(30, 10%, 34%);
    font-family: "Outfit", sans-serif;
    font-size: 0.9rem;
    border-bottom: 1px solid #ccc; 
    border-width: 90%;
}

.last{
    border:none;
}

.attribution {
    
    text-align: center; /* Center the text horizontally */
    margin-top: 100px; /* Add some space between the container and attribution */
    margin-bottom: 40px; /
  }


  @media (max-width: 560px) {
    .container {
        width: 100%;
        border-radius: 0;
        padding: 0px;
        margin: 0;
        padding-bottom: 15px;
        position: relative;
        top: 0;
        height: 100%;
        overflow-x: hidden; 
    }
    *{
        margin:0;
        padding:0;
    
    }
    .attribution {
        display:block;
        margin: 0;
    }
}